/* body{ */
    /* background-color: aquamarine;
    font-style: italic;
    text-decoration:red ;
} */
h1 {
    margin-top: 2px;
    margin-bottom: 2px;
  color: rgb(17, 179, 173);
  font-family: Arial, sans-serif;
  margin-left: 40g0px;
}

h2 {
  color: rgb(57, 176, 172);
  font-family: Arial, sans-serif;
}

ul .services-list {
  background-color: #f4e2a9;
  padding: 5px;
  width: 300px;
}

li.services-list {
    color: brown;
  margin: 8px 0;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
    height: 20px;
    margin-top: 2px;
  background-color: #333;
  color: white;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0px;
}
ul .nav-links {
  background-color: #f4e2a9;
  padding: 5px;
  width: 300px;
}
.nav-links li {
  cursor: pointer;
}
.nav-links li:hover {
  text-decoration: underline;
}
